@import "../../../styles/variables";

.button {
  display: block;
  width: 100%;
  height: 33.3px;
  background-color: $white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: $ebony_clay;
  font-weight: 600;
  border: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  &:hover {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  }

  &:focus {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: $ebony_clay;
    outline: none;
  }

  &:disabled {
    background-color: $gray;
    color: $ebony_clay;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
  }

  &.selected {
    background-color: $turbo;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: $ebony_clay;
  }

  &.big {
    height: 60px;
    white-space: inherit;
    line-height: 20px;
  }

  &.disabled {
    background-color: #8f8f8f;
    cursor: not-allowed;
  }

  @media (max-width: 320px) {
    line-height: unset;
  }

  .button_body {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: center;
  }

  .button_text {
    text-align: center;
  }
}


.buttonWithoutBorder {
  display: block;
  width: 100%;
  height: auto;
  line-height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: $white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: $ebony_clay;
  font-weight: 600;
  text-align: center;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;

  &:focus {
    border: 0;
    box-shadow: none;
    color: $black;
    outline: none;
  }

  &.selected {
    background-color: $turbo;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: $black;
  }

  &.big {
    height: 60px;
    white-space: inherit;
    line-height: 20px;
  }
}

.newHandicapButton {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(86, 101, 116);
  width: 43.3px;
  height: 33.3px;
  color: #ffffff;
}

.blocked {
  padding: 0 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: $gray;
  font-family: $lato;
  font-size: 12px;
  color: #212c3b;
  font-weight: 700;
  text-decoration: none solid rgb(33, 44, 59);
  text-align: center;
  display: block;
  width: 100%;
  height: 33.3px;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
  text-transform: capitalize;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.newHandicapButtonDisabled {
  background-color: rgb(86, 101, 116);
  float: left;
  width: 45px;
  height: 34.7px;
  margin-left: -17px;
  margin-top: -7.5px;
  position: absolute;
  padding-top: 7px;
  @media (max-width: 375px) {
    width: 35px;

  }
}

.sameButton {
  display: block;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 33.3px!important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 600;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
  text-transform: capitalize;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;


  @media (max-width: 320px) {
    line-height: unset;
  }

  .button_text {
    text-align: center;
  }
}

.colW {
  min-height: 0px !important;
}
