@import "../../../styles/variables";

.container {
  background: $wild_sand;
  width: 100%;
  padding: 10px 20px;
}

.buttonDark {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-family: $lato;
  color: $white;
  font-size: 12px;
  background-color: $firefly;
  font-weight: 700;
  text-align: center;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-transform: capitalize;
  outline: none;
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    background-color: $turbo;
    text-decoration: none;
    color: $black;
    outline: none;
  }

  &:focus {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: $black;
    outline: none;
  }

  &:active {
    background-color: $turbo;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: $black;
  }

  &.selected {
    background-color: $turbo;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: $black;
  }
}

.buttonLight {
  @extend .buttonDark;
  background-color: $mischka;
  color: black;
}

.buttonLightBig {
  @extend .buttonLight;
  height: 65px;
}

.item {
  width: 100%;
  font-weight: 700;
  color: $white;
  background-color: $firefly;
  cursor: pointer;

  .title {
    font-family: $lato;
    font-size: 12px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .icon {
    float: right;
    font-size: 16px;
    content: "⌫";
  }
}


.bets {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 12px;
  color: $black;
  font-weight: 700;
  background: $sisal;
}

.bottom {
  width: 100%;
  padding: 10px 15px;
  background-color: $napa;
  background-size: cover;

  .back {
    font-size: 24px;
    color: $firefly;
    cursor: pointer;
  }
}

.inputArea {
  text-align: right;
  padding: 15px 4px;

  input[type="number"] {
    width: 80px;
    height: 30px;
    padding: 0 4px;
    background: $white;
    border: 1px solid $silver;
    font-size: 12px;
    @media (min-width: 577px) {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      -moz-appearance: textfield;
    }
  }
}

.stakeLabel {
  font-size: 12px;
  color: $black;
  font-weight: 700;
  padding-right: 10px;
}
