@import "../../../styles/variables";

.popularBets {
  width: 100%;
  text-align: left;
  padding: 10px 0;

  .leftSide {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      border-left: 3px dotted $fern_frond;
      height: 100%;
      left: 8px;
    }

    .iconarea {
      background: $limited_spruce;
      width: 22px;
      height: 22px;
      color: $fern_frond;
      font-size: 20px;
      line-height: 1;
      position: relative;
      z-index: 10;

      &:before {
        position: absolute;
        content: '';
        background: $white;
        width: 14px;
        height: 12px;
        left: 3px;
        top: 4px;
      }

      .iconfa {
        position: relative;
        z-index: 11;
      }

    }

  }
}

.descriptionPopular {
  color: $white;
  font-family: $lato;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  display: block;
}
