@import "../../styles/variables";

.menu {
  position: relative;
  background: $big_stone;
  height: 44px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 478px) {
  .bigItem {
    font-size: 12px;
    font-weight: 600;
    color: $white;
    margin-bottom: 10px;
    text-align: center;
    height: auto;
    //line-height: 40px;
    padding: 0;
    cursor: pointer;
    //margin: 0;
    flex: 0 0 auto;
    width: calc(100% / 3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media (min-width: 478px) {
  .bigItem {
    font-size: 12px;
    font-weight: 600;
    color: $white;
    margin-bottom: 10px;
    text-align: center;
    height: auto;
    line-height: 40px;
    padding: 0;
    cursor: pointer;
    //margin: 0;
    flex: 0 0 auto;
    width: calc(100% / 3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.item {
  font-size: 12px;
  font-weight: 600;
  color: $white;
  margin-bottom: 10px;
  text-align: center;
  height: auto;
  line-height: 40px;
  padding: 0;
  cursor: pointer;
  //margin: 0;
  flex: 0 0 auto;
  width: calc(100% / 3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.threeItems {
  font-size: 12px;
  font-weight: 600;
  color: $white;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0;
  cursor: pointer;
  margin: 0;
  flex: 0 0 auto;
  width: calc(100% / 3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.twoItems {
  font-size: 12px;
  font-weight: 600;
  color: $white;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0;
  cursor: pointer;
  margin: 0;
  flex: 0 0 auto;
  width: calc(100% / 2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.singleItem {
  font-size: 12px;
  font-weight: 600;
  color: $white;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0;
  cursor: pointer;
  margin: 0;
  flex: 0 0 auto;
  width: calc(100% / 2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.space {
  width: 100%;
  height: 10px;
}

.subNavLinkStyle {
  text-align: center;
}

.smallSubNavLink {
  font-size: 12px;
  line-height: 15px;
}

ol, ul {
  list-style: none;
  padding: 1px;
  margin-bottom: 10px !important;
}

li {
  display: inline-block;
  vertical-align: middle;
}

.activeItem1:hover, a:focus, a:active {
  color: $fern_frond;
  text-decoration: none;
}

.activeItem1 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
  padding: 7.5px;
}

.activeItem1 {
  position: unset;
  display: block;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 7px;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  font-size: 11px;
  font-weight: 600;
  font-family: $lato;
  color: $white;
}

.activeItem1::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: $fern_frond;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.activeItem1:active::before {
  background-color: $fern_frond;
}

.activeItem1:hover::before, .activeItem1:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.defaultSelection {
  position: unset;
  display: block;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 9.5px;
  font-size: 11px;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  font-weight: 600;
  font-family: $lato;
  color: $fern_frond;
  border-bottom: 3px solid;
}

.tabs {
  border-bottom: 2px solid #333;
}

.tabs-nav {
  margin: 15px 0 5px;
  position: relative;
  z-index: 1;
  font: bold 16px/1;
}

.tabs-nav__item {
  margin: 0 10px 15px 0;
  display: inline-block;
  vertical-align: top;
}

.tabs-nav__item.active .tabs-nav__link {
  color: #fc0;
}

/* active tab */
.tabs-nav__link {
  height: 20px;
  color: #666;
  text-decoration: none;
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  transition: linear 0.2s;
}

.tabs-nav__drag {
  margin: 20px 0 0;
  position: absolute;
  border-bottom: 2px solid #fc0;
}

/* drag */
.tabs-nav__drag.active {
  -webkit-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear;
}

.tabs-content {
  margin: 0 0 20px;
  position: relative;
  overflow: hidden;
  font: 14px/1.5;
  color: #333;
}

/* change overflow to visible if you need */
.tabs-content .tabs-content {
  margin: 0;
}

.tabs-content .tabs-nav {
  font-size: 14px;
}

.tab {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  transition-timing-function: linear;
}

.tab.active {
  position: relative;
  opacity: 1;
}

.tab.slide {
  display: none;
  opacity: 1;
}

.tab.slide.active {
  display: block;
}

.tab.slide.moved {
  display: block;
}

/* animation for "slide" type from animated.css library */
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  -moz-animation-name: slideInRight;
  -o-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  -moz-animation-name: slideOutLeft;
  -o-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  -moz-animation-name: slideOutRight;
  -o-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
