@import "../../styles/variables";

.wrap {
  width: 100%;

  .collapseContainer {
    border-bottom: 1px solid #313b45;

    .item {
      width: 100%;
      font-weight: 700;
      color: $white;
      background-color: $firefly;
      cursor: pointer;

      .title {
        font-family: $lato;
        font-size: 12px;
        height: 43px;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .icon {
          float: right;
          font-size: 16px;
        }
      }
    }

    .container {
      background: $limited_spruce;
      text-align: center;
    }
  }

  .content {
    background: $limited_spruce;
    padding: 15px 0 5px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    text-align: center;
  }
}
