@import "../../../styles/variables";

.playerStatNames {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-family: $lato;
  font-size: 12px;
  color: $white;
  font-weight: 700;
  text-decoration: none solid $white;
  text-align: left;
}

.selectNames {
  font-size: 12px !important;
  height: calc(1.5rem + 2px);
}
.doubleNames{
  @extend .totalsLine;
  height: 23.3px;
  text-align: center!important;
  padding-left: 0!important;
}

.totalsLine {
  display: grid;
  align-content: center;
  height: 33.3px;
  padding-left: 15px;
  text-align: left;
  font-family: $lato;
  font-size: 12px;
  color: $white;
  font-weight: 700;
  text-decoration: none solid $white;
  word-break: break-word;
}

.overUnderText {
  margin-bottom: 9px !important;
  font-family: $lato;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none solid $white
}

.popularName {
  font-family: $lato;
  font-size: 12px;
  color: $white;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  height: 43px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
}

.popularMName {
  @extend .popularName;
  line-height: 3;
  padding-top: 9px;
}

.popularMarketName {
  font-family: $lato;
  font-weight: 700;
  font-size: 12px;
  color: #8c9bad;
  padding-left: 10px;
}

.goalScoreresNames {
  color: $white;
  font-family: $lato;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: left;
  word-break: break-word;
  white-space: pre-wrap;
}

.yesNoSpace {
  height: 43px;
  background-color: #162532;
  background-size: cover;
  text-align: center;
  padding: 10px 15px;
}

.selections {
  height: 15px;
  padding-right: 15px;
  font-family: $lato;
  font-size: 12px;
  color: $white;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
}

.teamNamesUpperTheButton {
  font-family: $lato;
  font-size: 12px;
  color: $white;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  padding-bottom: 10px;
}

.newHandicapButton {
  background-color: rgb(86, 101, 116);
  float: left;
  width: 35px;
  height: 33.6px;
  margin-left: -7px;
  margin-top: -7.9px;
  position: absolute;
  padding-top: 7px;
  color: $white;
  font-family: $lato;
  font-size: 12px;
}

.teamName {
  font-family: $lato;
  font-size: 12px;
  color: $white;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  padding-bottom: 16px;
  padding-top: 7px;
}

.withoutTabs:first-child {
  padding-top: 10px;
}
