@import "variables";

#banach {
  .Select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;

    &.is-disabled {
      .Select-arrow-zone {
        cursor: default;
        pointer-events: none;
        opacity: 0.35;
      }

      > .Select-control {
        background-color: #f9f9f9;

        &:hover {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    &.is-open > .Select-control {
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomRight: 0;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background: #fff;
      border-color: #b3b3b3 #ccc #d9d9d9;

      .Select-arrow {
        top: -2px;
        border-color: transparent transparent $white;
        border-width: 0 5px 5px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
    }

    &.is-searchable {
      &.is-open > .Select-control, &.is-focused:not(.is-open) > .Select-control {
        cursor: text;
      }
    }

    &.is-focused {
      > .Select-control {
        background: #fff;
      }

      &:not(.is-open) > .Select-control {
        border-color: #007eff;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
        background: $white;
      }
    }

    &.has-value {
      &.is-clearable.Select--single > .Select-control .Select-value {
        padding-right: 42px;
      }

      &.Select--single > .Select-control .Select-value .Select-value-label, &.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
        color: #333;
      }

      &.Select--single > .Select-control .Select-value a.Select-value-label, &.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
        cursor: pointer;
        text-decoration: none;
      }

      &.Select--single > .Select-control .Select-value a.Select-value-label:hover, &.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover, &.Select--single > .Select-control .Select-value a.Select-value-label:focus, &.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
        color: $turbo;
        outline: none;
        text-decoration: underline;
      }

      &.Select--single > .Select-control .Select-value a.Select-value-label:focus {
        background: #fff;
      }

      &.is-pseudo-focused {
        &.Select--single > .Select-control .Select-value a.Select-value-label:focus {
          background: #fff;
        }

        .Select-input {
          opacity: 0;
        }
      }
    }

    &.is-open .Select-arrow, .Select-arrow-zone:hover > .Select-arrow {
      border-top-color: $white;
    }
  }

  .Select-control {
    background-color: $white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none $white;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 33.6px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:hover {
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    }

    .Select-input:focus {
      outline: none;
      background: #fff;
    }
  }

  .Select-placeholder, .Select--single > .Select-control .Select-value {
    color: #aaa;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0;
    left: 8px;
    right: inherit;
    position: absolute;
    font-size: 14px;;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .Select-input {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;

    > input {
      width: 100%;
      background: none transparent;
      border: 0 none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      cursor: default;
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      outline: none;
      line-height: 17px;
    }
  }

  .is-focused .Select-input > input {
    cursor: text;
  }

  .has-value.is-pseudo-focused .Select-input {
    opacity: 0;
  }

  .Select-control:not(.is-searchable) > .Select-input {
    outline: none;
  }

  .Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
  }

  .Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  .Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;

    &:hover {
      color: $red;
    }
  }

  .Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
  }

  .Select--multi .Select-clear-zone {
    width: 17px;
  }

  .Select-arrow-zone {
    position: absolute;
    right: -1px;
    top: -1px;
    cursor: pointer;
    width: 25px;
    height: 37.6px;
    background: #566574;

    .Select-arrow {
      top: 6px;
    }
  }

  .Select-arrow {
    border-color: $white transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }

  .Select-control > *:last-child {
    padding-right: 0;
  }

  .Select--multi .Select-multi-value-wrapper {
    display: inline-block;
  }

  .Select .Select-aria-only {
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
  }

  .Select-menu-outer {
    font-size: 14px;
    text-align: left;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomRight: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $white;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 99;
  }

  .Select-menu {
    max-height: 198px;
    overflow-y: auto;
  }

  .Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 8px 10px;

    &:last-child {
      -moz-border-radius-bottomleft: 4px;
      -moz-border-radius-bottomRight: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &.is-selected {
      background-color: #f5faff;
      /* Fallback color for IE 8 */
      background-color: rgba(0, 126, 255, 0.04);
      color: #333;
    }

    &.is-focused {
      background-color: #ebf5ff;
      /* Fallback color for IE 8 */
      background-color: rgba(0, 126, 255, 0.08);
      color: #333;
    }

    &.is-disabled {
      color: #cccccc;
      cursor: default;
    }
  }

  .Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
}
