//Colours

$white: #ffffff;
$alabaster: #fafafa;
$silver: #bababa;
$wild_sand: #f5f5f5;
$catskill: #f5f7fa;
$fern_frond: #5A7F26;
$ebony_clay: #212c3b;
$big_stone: #162532;
$limited_spruce: #313b45;
$firefly: #0d212b;
$napa: #b0ac9b;
$shuttle_gray: #566574;
$boulder: #757575;
$sisal: #d3cfbf;
$turbo: #ffea00;
$mischka: #ced1db;
$bali_hai: #8c9bad;
$Firefly: #081218;
$red: #eb0c00;
$tacha: #cec45e;
$text: #333333;
$black: #000000;
$olive_haze: #8a846d;
$astronaut: #23476e;
$whiteLiliac: #f2f4fa;
$cornflowerBlue: #6979f0;
$athensGray: #e3e4e9;
$apricot: #f09069;
$gray: #8f8f8f;
//Fonts
$lato: 'Lato', sans-serif;

//Break points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

