@import "../../../styles/variables";

.content {
  width: 100%;

  .text {
    font-size: 12px;
    color: $white;
    font-weight: 700;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: left;
    padding-top: 22px;
  }
}

.row.button-gutters {
  margin-right: 5px;
  margin-left: 5px;

  > {
    [class^="col-"], [class*=" col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

p {
  margin-bottom: 0px !important;
}
