@import "../../styles/variables";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:global {
  @import "./../../styles/common";
}

:global {
  @import "./../../styles/select";
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

body {
  font-family: 'Lato', sans-serif;
  touch-action: manipulation;
  min-height: 500px;
  background-color: $Firefly;
}

.app {
  background: $firefly;
  height: 100%;
  min-height: 100%;
  position: static;
}

.wrap {
  width: 100%;
  margin-bottom: 50px;
  overflow-x: hidden;
}

.backButton {
  background-color: $Firefly;
  cursor: pointer;
  height: 43px;
  padding-top: 9px;

  span {
    padding-left: 12px;
    color: $white;
    font-family: $lato;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none solid rgb(255, 255, 255);
  }
}
