@import "../../styles/variables";


.mainMenu {
  background-color: $firefly;
}

.item {
  width: 100%;
  font-weight: 700;
  color: $white;
  background-color: $firefly;
  cursor: pointer;
  border-bottom: 1px solid $limited_spruce;

  .title {
    font-family: $lato;
    font-size: 12px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .icon {
    float: right;
    font-size: 16px;
  }
}

.competitionName {
  background-color: $big_stone;
  color: $white;
  font-family: $lato;
  font-size: 12px;
  height: auto;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  border-bottom: 1px solid $limited_spruce;

  p {
    padding: 12px 0px 0 100px;
    border-bottom: 1px solid $limited_spruce;
    height: 43px;
  }

  i {
    float: right;
    padding-right: 10px;
    font-size: 15px;
  }
}

.noCountry p {
  padding-left: 40px;
}

.sportTypeImage {
  width: 18px;
  height: 18px;
}

.date {
  background-color: $big_stone;
  height: 43px;

  p {
    font-family: $lato;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    padding-left: 12px;
    padding-top: 13px;
  }
}

.backButton {
  background-color: $Firefly;
  cursor: pointer;
  height: 43px;
  padding-top: 9px;

  span {
    padding-left: 12px;
    color: $white;
    font-family: $lato;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none solid rgb(255, 255, 255);
  }
}

.titles {
  background-color: $limited_spruce;
  color: $white;
  height: auto;
  cursor: pointer;
  border-bottom: 1px solid $shuttle_gray;
  padding: 10px 0 10px 0px;

  i {
    float: right;
    padding-top: 12px;
    padding-right: 20px;
  }

  p {
    font-family: $lato;
    font-size: 12px;
    color: #e8e8e8;
    text-decoration: none solid rgb(232, 232, 232);
    padding-left: 4px;
    padding-top: 5px;
  }
}
