@import "../../styles/variables.scss";

.menu {
  position: relative;
  background: $big_stone;
  height: 44px;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.navigation {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex-wrap: nowrap;
  text-align: center;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 18px 0px 18px 0px;
  background: $limited_spruce;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    min-width: 85px;
    max-width: 85px;
    width: 100%;
    height: 80px;
    display: inline-block;
    background-color: $firefly;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 15px;

    .icon {
      margin: 0 auto;
      padding: 8px 0 0;
      text-align: center;

      .default {
        display: block;
      }

      .hover {
        display: none;
      }

      img {
        display: inline-block;
        width: 48px;
        height: 48px;
      }
    }

    .title {
      font-size: 12px;
      color: $white;
      font-weight: 600;
    }

    &.active {
      background: $fern_frond;

      .default {
        display: none;
      }

      .hover {
        display: block;
      }
    }
  }

}
