@import "../../../styles/variables";
@import "../../forms/btn/btn";

.betSlip {
  z-index: 100;
  background-color: transparent;
  height: 100vh;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  margin-top: -120px;
  overflow: hidden;
}

.sticked {
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #23476e;
  background-size: cover;
  -webkit-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
}

.receiptButtons {
  width: 154px;
  height: 39px;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: $white;
  font-family: $lato;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;

  &:hover {
    background: $turbo;
    color: $black;
  }
}

.receipt {
  background-color: $astronaut;
  font-family: $lato;
  color: $white;
  font-size: 14px;
  padding: 10px;
  font-weight: 700;
  -webkit-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
}

.content {
  background: white;
  padding: 5px;
  width: 100%;

  &:last-child .leftSide:before {
    display: none;
  }
}

.selectedName {
  font-family: $lato;
  font-size: 12px;
  color: $ebony_clay;
  font-weight: 700;
  text-decoration: none solid;
  margin-bottom: 0em !important;
}

.selectedMarketName {
  font-family: $lato;
  font-size: 12px;
  color: $boulder;
  font-weight: 700;
}

.odds {
  font-family: $lato;
  font-size: 12px;
  font-weight: 700;
  color: $black;
  text-align: right;
  padding-right: 5%;
}

.stakeSetted {
  background-color: $sisal;
  padding: 10px;
}

.leftCountNumerator {
  @extend .countStake;
  text-align: right;
}

.countStake {
  font-family: $lato;
  font-size: 12px;
  color: $black;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
}

.stakeUnderSetted {
  text-align: center;
  background-color: $napa;
  font-family: $lato;
  font-size: 12px;
  color: $black;
  font-weight: 700;
  text-decoration: none solid rgb(0, 0, 0);
  padding: 10px;
}

.bottomImage {
  width: 100%;
}

.reuseSelection {
  background-color: $big_stone;
  padding: 20px 10px 10px;
  overflow: hidden;
}

.leftSide {
  position: relative;
  width: 100%;
  height: 45px;
  min-height: 100%;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    border-left: 3px dotted $fern_frond;
    height: 100%;
    left: 8px;
  }
}

.iconarea {
  background: $white;
  width: 22px;
  height: 22px;
  color: $fern_frond;
  font-size: 20px;
  line-height: 1;
  position: relative;
  z-index: 10;
}

.iconfa {
  position: relative;
  z-index: 11;
  color: $fern_frond;
}

.icon {
  position: relative;
  z-index: 11;
  color: $fern_frond;
}
