@import "../../../styles/variables";

.counter {
  border-radius: 2px;
  text-align: left;
  font-size: 0;
  display: inline-flex;
  height: 32.3px;
  width: 100%;

  .btn {
    background: $shuttle_gray;
    font-size: 12px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    color: $white;
    cursor: pointer;
  }

  &__center {
    background: $white;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: $ebony_clay;
    font-size: 12px;
    font-weight: 700;
  }

  .leftSide {
    border-radius: 2px 0 0 2px;
  }

  .rightSide {
    border-radius: 0 2px 2px 0;
  }

}
