@import "../../styles/variables.scss";

.header {
  background: #0F202A;
  color: $white;
  font-family: 'Lato', sans-serif;
  height: 60px;
  border-bottom: 4px solid #5a7f26;

  .title {
    font-size: 18px;
    padding-left: 4px;
  }

  figure {
    height: 60px;
    max-width: 100%;
    margin: 0;
    padding: 10px;

    img {
      height: calc(100% - 4px);
      width: auto;
    }
  }
}
