@import "../../styles/variables.scss";
@import "../forms/btn/btn";

.footer {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 100;
  -webkit-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);

  .headerUp {
    line-height: 1;
    background: $turbo;
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

    .right {
      float: right;
      font-size: 14px;
    }
  }

  .headerDown {
    line-height: 1;
    background: $apricot;
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -4px 2px rgba(0, 0, 0, 0.4);

    .right {
      float: right;
      font-size: 14px;
    }
  }

  .content {
    background: white;
    padding: 5px;
  }

  .Error {
    background: $red;
    padding: 5px 0;

    .leftSide {
      display: none;
    }

    .iconRemove {
      color: $white;
    }

    .selectedName {
      color: $white !important;
    }

    .selectedMarketName {
      color: $white !important;
    }
  }
}

.paddingCol {
  padding-right: 0;
  display: block;
}

.descriptionPopular {
  color: $white;
  font-family: $lato;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

.underDescription {
  color: $bali_hai;
  font-weight: 700;
  text-decoration: none solid rgb(140, 155, 173);
}

.FooterList {
  width: 100%;
  background: $white;
  padding: 15px 0;
  height: 200px;
  overflow-y: auto;

  .listItem {
    width: 99%;

    &:last-child .leftSide:before {
      display: none;
    }

    .leftSide {
      position: relative;
      width: 100%;
      min-height: 100%;
      padding-left: 10px;
      height: 45px;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        border-left: 3px dotted $fern_frond;
        height: 100%;
        left: 18px;
        top: 5px;
      }
    }

    .selectedName {
      font-family: $lato;
      font-size: 12px;
      color: $ebony_clay;
      font-weight: 700;
      margin-bottom: 0 !important;
    }

    .selectedMarketName {
      font-family: $lato;
      font-size: 12px;
      color: $boulder;
      font-weight: 700;
    }
  }

  .iconRemove {
    cursor: pointer;
    float: right;
    font-size: 20px;
    color: $fern_frond;
    position: relative;
    left: -10px;
  }
}

.colPopular {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popularList {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;

  .listItem {
    width: 99%;

    &:last-child .leftSide:before {
      display: none;
    }

    .leftSide {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 100%;
      padding-top: 10px;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        border-left: 3.5px dotted $fern_frond;
        height: 60%;
        left: 8px;
        top: 32px;
      }
    }

    .selectedName {
      font-family: $lato;
      font-size: 12px;
      color: $ebony_clay;
      font-weight: 700;
      margin-bottom: 0 !important;
    }

    .selectedMarketName {
      font-family: $lato;
      font-size: 12px;
      color: $boulder;
      font-weight: 700;
    }

  }

  .iconRemove {
    cursor: pointer;
    float: right;
    font-size: 20px;
    color: $fern_frond;
    position: relative;
    left: -10px;
  }
}


.iconarea {
  background: $white;
  width: 22px;
  height: 22px;
  color: $fern_frond;
  font-size: 20px;
  line-height: 1;
  position: relative;
  z-index: 10;
}

.iconareaBlack {
  background: transparent;
  width: 22px;
  height: 22px;
  color: $fern_frond;
  font-size: 20px;
  line-height: 1;
  position: relative;
  z-index: 10;
}

.iconfa {
  position: relative;
  z-index: 11;
  color: $fern_frond;
  bottom: 0.1px;
}

.errorMessage {
  background: $cornflowerBlue;
  color: $white;
  font-family: $lato;
  font-size: 12px;
  text-decoration: none solid rgb(255, 255, 255);
  position: sticky;
  margin-right: 0px !important;
  margin-left: 0px !important;
  align-items: center;
  padding: 10px;
}

.icon {
  float: right;
  font-size: 16px;

}

.clearBetslip {
  background: $athensGray;
  color: $black;
  font-family: $lato;
  font-size: 12px;
  text-decoration: none solid rgb(0, 0, 0);
  font-weight: 700;
  text-align: center;
  padding: 10px;
  cursor: pointer;

  span {
    border-bottom: 2px solid $black;
  }
}

.setStakeCont {
  background: $big_stone;
  font-family: $lato;
  text-align: -webkit-center;
  padding: 10px;

  .setStakeButton {
    background: $white;
    color: $black;
    width: 143px;
    height: 39px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    padding: 7px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
}
