@import "../../../styles/variables";

.setStake {
  width: 100%;
}

.bets {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 12px;
  color: $black;
  font-weight: 700;
  background: $sisal;
  text-decoration: none solid rgb(0, 0, 0);
}

.bottom {
  width: 100%;
  padding: 10px 15px;
  background-color: $napa;
  background-size: cover;
  text-align: center;
}

.item {
  width: 100%;
  font-weight: 700;
  color: $white;
  background-color: $Firefly;
  cursor: pointer;

  .title {
    font-family: $lato;
    font-size: 14px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .icon {
    float: right;
    font-size: 16px;
  }
}

.content {
  background: $limited_spruce;
  padding: 15px 0 5px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  text-align: center;
}

.container {
  background: $wild_sand;
  width: 100%;
  padding: 10px 20px;
}

.buttonDark {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-family: $lato;
  color: $white;
  font-size: 12px;
  background-color: $firefly;
  font-weight: 700;
  text-align: center;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-transform: capitalize;
  outline: none;
  margin-top: 5px;
  cursor: pointer;

  &:active {
    background-color: $turbo;
    box-shadow: none;
    color: $black;
    outline: none !important;
  }
}

.buttonLight {
  @extend .buttonDark;
  background-color: $mischka;
  color: black;
  outline: none !important;
}

.buttonLightBig {
  @extend .buttonLight;
  height: 65px;
  outline: none !important;
}

.item {
  width: 100%;
  font-weight: 700;
  color: $white;
  background-color: $firefly;
  cursor: pointer;

  .title {
    font-family: $lato;
    font-size: 12px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }

  .icon {
    float: right;
    font-size: 16px;
    content: "⌫";
    padding: 10px;
  }
}


.bets {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 12px;
  color: $black;
  font-weight: 700;
  background: $sisal;
}

.bottom {
  width: 100%;
  padding: 10px 15px;
  background-color: $napa;
  background-size: cover;

  .back {
    font-size: 24px;
    color: $firefly;
    cursor: pointer;
  }
}

.inputArea {
  text-align: right;
  padding: 6px;

  input[type="number"] {
    width: 80px;
    height: 30px;
    background: $white;
    border: 1px solid $silver;
    font-size: 12px;
    @media (min-width: 577px) {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      -moz-appearance: textfield;
    }

    &:disabled {
      background-color: $white;
    }
  }

}

.stakeLabel {
  font-size: 12px;
  color: $black;
  font-weight: 700;
  padding-right: 10px;
}

.calcComponent {
  background: $white;
  padding: 40px;
}

.returns {
  background: $whiteLiliac;

  p {
    margin-bottom: 0rem !important;
    text-align: right;
    margin-right: 10%;
    padding: 20px;
    font-family: $lato;
    font-size: 12px;
    color: $black;
    font-weight: 700;
  }
}

.errorMessage {
  background: $cornflowerBlue;
  color: $white;
  font-family: $lato;
  font-size: 12px;
  text-decoration: none solid rgb(255, 255, 255);
  position: sticky;
  margin-right: 0px !important;
  margin-left: 0px !important;
  align-items: center;
  padding: 10px;
}
