@import "../../../styles/variables";

.correctTitle {
  font-size: 12px;
  color: $white;
  font-weight: 700;
  padding: 0 0 7px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
